APP_NAME=JadeNode
APP_ENV=local
APP_KEY=
APP_URL=http://localhost:8000

FRONTEND_URL=http://localhost:3000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=jadenode
DB_USERNAME=jadenode
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@jadenode.test"
MAIL_FROM_NAME="JadeNode"

FILESYSTEM_DISK=local

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=jadenode
AWS_ENDPOINT=http://127.0.0.1:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

SESSION_DRIVER=database
SESSION_SAME_SITE=none
SESSION_SECURE_COOKIE=false

SANCTUM_STATEFUL_DOMAINS=localhost:3000

MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
